<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name='EDS Generation App' content='Enterprise IP NEtworks'>
  <title>EDS Generation App</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <title></title>
</head>

<style>
  .link-size li a{
    font-size: 25px;
    font-weight: normal;
    color: rgb(255, 255, 255);
  }
</style>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <p class="alert alert-primary"  role="alert" style="font-size: 20px; text-align: center;">{{ message }}</p>
  {% endfor %}
  {% endif %}
  {% endwith %}

<body>
    
  
  <nav class="navbar navbar-default link-size" style="background-color: #da291c;">
    <div class="container-fluid">
      <!--LOGO

      <a class="navbar-brand" href="{{url_for('core.index')}}">
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png" width="45" alt="" class="d-inline-block align-middle mr-2">
        ROGERS
      </a>
    -->
      <ul class="nav justify-content-center">
        <li class='nav-link'><a href="{{url_for('core.index')}}">Welcome</a></li>
        {% if current_user.is_authenticated %}
        <li class='nav-link'><a href="{{url_for('users.account')}}">My Profile</a></li>
        <li class='nav-link'><a href="{{url_for('EDS.EDS_generate')}}">Create EDS</a></li>
        <li class ='nav-link'><a href="{{url_for('EDS.EDS_Data_Update')}}">Update DB</a></li>
        <li class='nav-link'><a href="{{url_for('dashboard.history')}}">History</a></li>
        <li class='nav-link'><a href="{{url_for('EDS.tool_page')}}">Tools</a></li>
        <li class='nav-link navbar-right'><a href="{{url_for('users.logout')}}"><span
              class="glyphicon glyphicon-log-out"></span>Log Out</a></li>
        {% else %}
      </ul>
      <ul class="nav navbar-right">
        <li class='nav-link'><a href="{{url_for('users.login')}}"><span class="glyphicon glyphicon-log-in"></span> Log
            In</a></li>
        <li class='nav-link'><a href="{{url_for('users.register')}}"><span class="glyphicon glyphicon-user"></span> Sign
            Up</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>

  <div class="container">
    {% block content %}

    {% endblock %}
  </div>
</body>

</html>